.jumbotron {
    background: #005000;
    }
.jumbotron h1 {
    color: white;
    font-weight: 600;
    text-align: center;
}
.navbar {
    color: white;
    background:#005000;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    img {
        width: 100%;
    }
}